<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eventos Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Usamos *ngFor para recorrer la lista de eventos -->
    <ion-item *ngFor="let event of events">
      <ion-label>
        <h2>{{ event.name }}</h2>
        <p>Precio: {{ event.price | currency }}</p>
      </ion-label>
      <ion-button slot="end" (click)="addTicket(event)">
        Comprar Entrada
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
